{% load static%}
{% include 'member/header.html' %}
<!--begin::Body-->

<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled">
    <!--begin::Theme mode setup on page load-->
    <script>
        var defaultThemeMode = "light";
        var themeMode;

        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if (localStorage.getItem("data-bs-theme") !== null) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }

            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }

            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>
    <!--end::Theme mode setup on page load-->
    <!--Begin::Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!--End::Google Tag Manager (noscript) -->

    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Aside-->
            <div id="kt_aside" class="aside aside-extended " data-kt-drawer="true" data-kt-drawer-name="aside"
                data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
                data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">

                {% include 'bank/primary_nav.html'%}

                <!--begin::Secondary-->
                <div class="aside-secondary d-flex flex-row-fluid">
                    <!--begin::Workspace-->
                    <div class="aside-workspace my-5 p-5" id="kt_aside_wordspace">
                        <div class="d-flex h-100 flex-column">
                            <!--begin::Wrapper-->
                            <div class="flex-column-fluid hover-scroll-y" data-kt-scroll="true"
                                data-kt-scroll-activate="true" data-kt-scroll-height="auto"
                                data-kt-scroll-wrappers="#kt_aside_wordspace"
                                data-kt-scroll-dependencies="#kt_aside_secondary_footer" data-kt-scroll-offset="0px">

                                <!--begin::Tab content-->
                                <div class="tab-content">
                                    <!--begin::Tab pan PROJECTSe-->
                                    <div class="tab-pane fade " id="kt_aside_nav_tab_projects" role="tabpanel">

                                        <!--begin::Wrapper-->
                                        <div class="m-0">
                                            <!--begin::Projects-->
                                            <div class="m-0">
                                                <!--begin::Heading-->
                                                <h1 class="text-gray-800 fw-semibold mb-6 mx-5">Potential Solutions</h1>
                                                <!--end::Heading-->

                                                <!--begin::Items-->
                                                <div class="mb-10">
                                                    {% if project_count is 0 %}
                                                        No Projects yet
                                                    {% endif %}
                                                    {% for project in projects%}
                                                    <!--begin::Item-->
                                                    <a href="/project/{{project.id}}"
                                                        class="custom-list d-flex align-items-center px-5 py-4">

                                                        <!--begin::Description-->
                                                        <div class="d-flex flex-column flex-grow-1">
                                                            <!--begin::Title-->
                                                            <h5
                                                                class="custom-list-title fw-semibold text-gray-800 mb-1">
                                                                {{project.title}}</h5>
                                                            <!--end::Title-->

                                                            <!--begin::Link-->
                                                            <span class="text-gray-400 fw-semibold">
                                                                {% if project.is_complete%}
                                                                    Complete
                                                                {%else%}
                                                                    Pending
                                                                {%endif%}
                                                            </span>
                                                            <!--end::Link-->
                                                        </div>
                                                        <!--begin::Description-->
                                                    </a>
                                                    {%endfor%}
                                                    <!--end::Item-->
                                                </div>
                                                <!--end::Items-->
                                            </div>
                                            <!--end::Projects-->
                                        </div>
                                        <!--end::Wrapper-->

                                    </div>
                                    <!--end::Tab pane-->



                                    <!--begin::Tab pane-->
                                    <div class="tab-pane" id="kt_aside_nav_tab_tasks" role="tabpanel">

                                        <!--begin::Tasks-->
                                        <div class="mx-5">
                                            <!--begin::Header-->
                                            <h3 class="fw-bold text-dark mb-10 mx-0">
                                                Thematic Areas
                                            </h3>
                                            <!--end::Header-->

                                            <!--begin::Body-->
                                            <div class="mb-12">
                                                {% for theme in thematic_areas%}
                                                <!--begin::Item-->
                                                <div class="d-flex align-items-center mb-7">
                                                    <!--begin::Symbol-->
                                                    <div class="symbol symbol-50px me-5">
                                                        <span class="symbol-label bg-light-success">
                                                            <i class="ki-duotone ki-abstract-26 fs-2x text-success"><span
                                                                    class="path1"></span><span class="path2"></span></i>
                                                        </span>
                                                    </div>
                                                    <!--end::Symbol-->

                                                    <!--begin::Text-->
                                                    <div class="d-flex flex-column">
                                                        <a href="/employee/{{theme.id}}/challenges"
                                                            class="text-gray-800 text-hover-primary fs-6 fw-semibold">{{theme.name}}</a>

                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <!--end::Item-->
                                                {%endfor%}
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::Tasks-->
                                    </div>
                                    <!--end::Tab pane-->

                                    <!--begin::Tab pane  idiate na dogo-->
                                    <div class="tab-pane fade" id="kt_aside_nav_tab_authors" role="tabpanel">

                                        <!--begin::Authors-->
                                        <div class="mx-5">
                                            <!--begin::Header-->
                                            <h3 class="fw-bold text-dark mx-0 mb-10">Potential Squad</h3>
                                            <!--end::Header-->

                                            <!--begin::Body-->
                                            <div class="mb-12">
                                                {%for collaborator in collaborators%}
                                                <!--begin::Item-->
                                                <div class="d-flex align-items-center mb-7">
                                                    <!--begin::Avatar-->
                                                    <div class="symbol symbol-50px me-5">
                                                        <img src="{% static 'assets/man.png' %}" class="" alt="" />
                                                    </div>
                                                    <!--end::Avatar-->

                                                    <!--begin::Text-->
                                                    <div class="flex-grow-1">
                                                        <a href="../pages/projects/users.html"
                                                            class="text-dark fw-bold text-hover-primary fs-6">{{collaborator.first_name}} {{collaborator.last_name}}</a>

                                                        <span class="text-muted d-block fw-semibold">{{collaborator.email}}</span>
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <!--end::Item-->
                                                {% endfor %}

                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::Authors-->
                                    </div>
                                    <!--end::Tab pane-->
                                </div>
                                <!--end::Tab content-->

                            </div>
                            <!--end::Wrapper-->

                        </div>
                    </div>
                    <!--end::Workspace-->
                </div>
                <!--end::Secondary-->

                <!--begin::Aside Toggle-->
                <button
                    class="btn btn-sm btn-icon bg-body btn-color-gray-600 btn-active-primary position-absolute translate-middle start-100 end-0 bottom-0 shadow-sm d-none d-lg-flex "
                    data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
                    data-kt-toggle-name="aside-minimize" style="margin-bottom: 1.35rem">

                    <i class="ki-duotone ki-arrow-left fs-2 rotate-180"><span class="path1"></span><span
                            class="path2"></span></i> </button>
                <!--end::Aside Toggle-->
            </div>
            <!--end::Aside-->


            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header " data-kt-sticky="true" data-kt-sticky-name="header"
                    data-kt-sticky-offset="{default: '200px', lg: '300px'}">

                    <!--begin::Container-->
                    <div class=" container-xxl  d-flex align-items-center justify-content-between"
                        id="kt_header_container">

                        <!--begin::Page title-->
                        <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
                            data-kt-swapper="true" data-kt-swapper-mode="prepend"
                            data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">

                            <!--begin::Heading-->
                            <h1 class="text-dark fw-semibold my-0 fs-2">All {{thematic_area}} Challenges</h1>
                            <!--end::Heading-->

                        </div>
                        <!--end::Page title--->

                        <!--begin::Wrapper-->
                        <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
                            <!--begin::Aside mobile toggle-->
                            <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
                                <i class="ki-duotone ki-abstract-14 fs-2x"><span class="path1"></span><span
                                        class="path2"></span></i>
                            </div>
                            <!--end::Aside mobile toggle-->

                            <!--begin::Logo-->
                            <a href="#" class="d-flex align-items-center">
                                <img alt="Logo" src="{% static 'assets/logo.png' %}" class="h-40px" />
                            </a>
                            <!--end::Logo-->
                        </div>
                        <!--end::Wrapper-->

                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Container-->
                    <div class=" container-xxl " id="kt_content_container">

                            <div class="row">
                                <div class="col-12 p-2">
                                    {% for challenge in challenges%}
                                    <div class="card shadow-sm my-5">
                                        <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#kt_docs_card_collapsible">
                                            <h3 class="card-title">{{challenge.title}}</h3>
                                            <div class="card-toolbar rotate-180">
                                                <i class="ki-duotone ki-down fs-1"></i>
                                            </div>
                                        </div>
                                        <div id="kt_docs_card_collapsible" class="collapse show">
                                            <div class="card-body">
                                                {{challenge.description}}
                                            </div>
                                            <div class="card-footer">
                                                <b>Skills required:</b> {{challenge.skills_required}} <br> <b>Language:</b> {{challenge.programming_languages}}
                                                <br><br><br>
                                                <a href="/challenge/{{challenge.id}}" class="btn btn-sm btn-primary">Initialize Project</a>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>

                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->


        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->

    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up"><span class="path1"></span><span class="path2"></span></i>
    </div>
    <!--end::Scrolltop-->

    <!--begin::Javascript-->
    {% include 'member/scripts.html'%}
    <!--end::Javascript-->

</body>

</html>